body {
    margin: 0;
    height: auto;
}

/* The navigation bar */
.navbar {
    /* overflow: hidden; */
    /* display: inline-flex; */
    display: flex;
    top: 0;
    width: 100%;
    height: 12%;
    position: fixed;
    transition: 0.2s;
    background-color: rgb(5, 67, 105);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4)
}

/* Page Logo */
.logo {
    height: 50px;
    width: 120px;
    padding: 10px 0px 0px 25px;
}

/* Nav Bar Buttons (Links inside the navbar) */
.navbar-links {
    margin: 0px 14% 0px 22%;
}

.navbar-links a {
    border: none;
    color: wheat;
    background-color: inherit;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin: 24px 40px 0px 20px;
}

.navbar-links a:hover {
    color: #000;
    background: gainsboro;
    text-decoration: none;
}

/* Login Button Styles */
.navbar .login-btn a button{
    float: right;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: bisque;
    text-align: center;
    text-decoration: none;
    padding: 12px 25px;
    margin: 25px 0px 0px 25px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.navbar .login-btn a button:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    padding-left: 5%;
    margin-top: 150px;
}

h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

