* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: auto;
  background: white;
  margin: 0;
}

/* The Navigation Bar Styles*/
.navbar {
  display: inline-block;
  grid-template-columns: auto auto;
  overflow: hidden;
  background-color: rgb(5, 67, 105);
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4)
}

/* Navigation Bar Left Part Styles*/
.navbar-left {
  margin-left: 20px;
  margin-top: 45px;
}

/* Navbar Hamburger Icon Styles */
.navbar .hamburger {
  float: left;
  display: flex;
  font-size: 30px;
  color: white;
  align-items: center;
  margin: 38px 15px 50px 35px;
}

/* Navbar Hamburger Icon Hover Styles */
.navbar .hamburger:hover {
  color: #a2ecff;
}

/* Navbar Heading Styles */
.navbar h1 {
  color: white;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin: 30px 15px 0px 35px;
}

/* Logout Button Styles */
.navbar a button {
  /* float: right; */
  /* display: block; */
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: bisque;
  text-align: center;
  text-decoration: none;
  padding: 12px 25px;
  margin-left: 55.5%;
  margin-block-end: auto;
  position: fixed;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

/* Logout Button background on mouse-over */
.navbar a button:hover {
  background: #ddd;
  color: black;
}

/* Main Section Styles */
.main .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

/* Main Body Container Styles */
.main .section .main-body-container {
  margin: 150px 30px 30px 30px;
  background: rgb(241, 241, 241);
  padding: 50px 40px 25px 40px;
  line-height: 28px;
}

body.active .main .section {
  margin-left: 0;
  width: 100%;
}

body.active .main .sidebar {
  left: -235px;
}

/* Sidebar Styles */
.main .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 232px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.main .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.main .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.main .sidebar .profile h3 {
  font-weight: medium;
  color: white;
  margin: 10px 0 5px;
}

.main .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.main .sidebar ul li a {
  display: block;
  padding: 15px 25px;
  border-bottom: 1px solid rgb(155, 155, 155);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.main .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.main .sidebar ul li a:hover,
.main .sidebar ul li a.active {
  color: black;
  background: rgb(207, 237, 255);
  border-right: 2px solid rgb(5, 68, 104);
}

.main .sidebar ul li a:hover .icon,
.main .sidebar ul li a.active .icon {
  color: black;
}

.main .sidebar ul li a:hover:before,
.main .sidebar ul li a.active:before {
  display: block;
}

.label {
  float: left;
  /* display: inline-block; */
  width: 25%;
  padding: 12px 12px 12px 0;
  margin-top: 6px;
}

.input {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=text],
select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  padding: 12px;
}

.input textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  padding: 12px;
}

/* "Submit" Button Styles */
input[type=submit] {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 67, 105);
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 35px 0px 0px 45%;
}

input[type=submit]:hover {
  background-color: rgb(0, 87, 137);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}